{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <h2>{{ controller_name }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
